{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Laundry City</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets4/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'assets4/css/style.css' %}">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo"><a href="#">Laundry City</a></div>
                    <div>
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li><a href="#work-section" class="nav-link">Work</a></li>
                                <li><a href="#process-section" class="nav-link">Process</a></li>
                                <li><a href="#services-section" class="nav-link">Services</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block">
                                <li class="cta"><a href="{% url 'home' %}" class="nav-link"><span class="rounded border border-primary">Login</span></a></li>
                            </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>

        </header>

        <div class="intro-section" id="home-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 mr-auto" data-aos="fade-up">
                        <h1>Take your laundry to a new place.</h1>
                        <p class="mb-5">Schedule a Rinse any day of the week. Your Valet will always arrive between 8pm and 10pm.</p>
                        <p><a href="#contact-section" class="btn btn-outline-light py-3 px-5">Place Order</a></p>

                    </div>
                    <div class="col-lg-2 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <figure class="img-absolute">
                            <img src="{% static 'assets4/images/wel.png' %}" alt="Image" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- changed section  -->
        <div class="site-section bg-light section-2" id="process-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <span class="section-sub-title d-block">Our Process</span>
                        <h2 class="section-title">Our Process</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
                        <div class="process p-3">
                            <span class="number">01</span>
                            <div>
                                <span class="flaticon-glasses display-4 text-primary mb-4 d-inline-block"></span>
                                <h3>Place Order</h3>
                                <p>Schedule a meet any day of the week. Your Valet will always arrive between 8pm and 10pm.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="process p-3">
                            <span class="number">02</span>
                            <div>
                                <span class="flaticon-vector display-4 text-primary mb-4 d-inline-block"></span>
                                <h3>Sip a coffee</h3>
                                <p>Your clothes are expertly cleaned according to their care label.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="process p-3">
                            <span class="number">03</span>
                            <div>
                                <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                                <h3>Delivery</h3>
                                <p>We return your clothes next-day just in time for your important days.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Changed section -->
        <div class="site-section  section-1">


            <div class="container">
                <div class="row">
                    <div class="col-md-5 mr-auto mb-5">

                        <div class="mb-5">
                            <span class="section-sub-title d-block">About us</span>
                            <h2 class="section-title">We Value More on Quality and not in Quantity.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                                sunt nisi.</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">

                                <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="">
                                    <div class="icon-wrap"><span class="flaticon-reload text-primary"></span></div>
                                    <div class="counter-text">
                                        <strong>260</strong>
                                        <span>Fast Loading</span>
                                    </div>
                                </div>

                                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="100">
                                    <div class="icon-wrap"><span class="flaticon-download text-primary"></span></div>
                                    <div class="counter-text">
                                        <strong>2,500</strong>
                                        <span>No. of Downloads </span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">

                                <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="200">
                                    <div class="icon-wrap"><span class="flaticon-monitor text-primary"></span></div>
                                    <div class="counter-text">
                                        <strong>87</strong>
                                        <span>Number of Person</span>
                                    </div>
                                </div>

                                <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon-wrap"><span class="flaticon-chat text-primary"></span></div>
                                    <div class="counter-text">
                                        <strong>920</strong>
                                        <span>Chat Room</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="image-absolute-box">
                            <div class="box" data-aos="fade-up">
                                <div class="icon-wrap"><span class="flaticon-vector"></span></div>
                                <h3>Creativity is the key</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati commodi aspernatur eum eius inventore facilis.</p>
                            </div>
                            <img src="{% static 'assets4/images/wt.jpeg' %}" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="site-section section-2" id="work-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <span class="section-sub-title d-block">Excellent Work</span>
                        <h2 class="section-title">Our Works</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

            </div> -->





        <!-- <div class="owl-carousel nonloop-block-13">

                <a class="work-thumb" href="{% static 'assets4/images/about_1.jpg' %}" data-fancybox="gallery">
                    <div class="work-text">
                        <h3>Work Name Here</h3>
                        <span class="category">Website</span>
                    </div>
                    <img src="{% static 'assets4/images/about_1.jpg' %}" alt="Image" class="img-fluid">
                </a>

                <a class="work-thumb" href="{% static 'assets4/images/slide_1.jpg' %}" data-fancybox="gallery">
                    <div class="work-text">
                        <h3>Work Name Here</h3>
                        <span class="category">Illustration</span>
                    </div>
                    <img src="{% static 'assets4/images/slide_1.jpg' %}" alt="Image" class="img-fluid">
                </a>

                <a class="work-thumb" href="{% static 'assets4/images/slide_2.jpg' %}" data-fancybox="gallery">
                    <div class="work-text">
                        <h3>Work Name Here</h3>
                        <span class="category">Branding</span>
                    </div>
                    <img src="{% static 'assets4/images/slide_2.jpg' %}" alt="Image" class="img-fluid">
                </a>

                <a class="work-thumb" href="{% static 'assets4/images/slide_3.jpg' %}" data-fancybox="gallery">
                    <div class="work-text">
                        <h3>Work Name Here</h3>
                        <span class="category">Web Development</span>
                    </div>
                    <img src="{% static 'assets4/images/slide_3.jpg' %}" alt="Image" class="img-fluid">
                </a>

                <a class="work-thumb" href="{% static 'assets4/images/slide_4.jpg' %}" data-fancybox="gallery">
                    <div class="work-text">
                        <h3>Work Name Here</h3>
                        <span class="category">Design</span>
                    </div>
                    <img src="{% static 'assets4/images/slide_4.jpg' %}" alt="Image" class="img-fluid">
                </a>
            </div>

        </div> -->





        <div class="site-section bg-light" id="services-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <span class="section-sub-title d-block">Services</span>
                        <h2 class="section-title">Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

            </div>

            <div class="owl-carousel nonloop-block-14">

                <div class="service">
                    <div>
                        <span class="flaticon-reload display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Dry Clean</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>


                <div class="service">
                    <div>
                        <span class="flaticon-download display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Wash n Dry</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

                <div class="service">
                    <div>
                        <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Special Wash</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

                <div class="service">
                    <div>
                        <span class="flaticon-chat display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>24/7 Support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

                <div class="service">
                    <div>
                        <span class="flaticon-glasses display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Instant Delivery</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>

                <div class="service">
                    <div>
                        <span class="flaticon-vector display-4 text-primary mb-4 d-inline-block"></span>
                        <h3>Offers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur
                            sunt nisi.
                        </p>
                    </div>
                </div>



            </div>

        </div>


        <div class="site-section" id="contact-section">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <!-- 


                        <h2 class="section-title mb-3">Message Us</h2>
                        <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>

                        <form method="post" data-aos="fade">
                            <div class="form-group row">
                                <div class="col-md-6 mb-3 mb-lg-0">
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="" cols="30" rows="10" placeholder="Write your message here."></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">

                                    <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Send Message">
                                </div>
                            </div>

                        </form> -->

                        <div>
                            {% if messages %} {% for message in messages %}
                            <div {% if message.tags %} class="alert {{ message.tags }} text-center" {% endif %}>
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ message }}
                            </div>
                            {% endfor %} {% endif %}
                            <section>
                                <div class="section-body">
                                    <div class="row">


                                        <!-- BEGIN  - FORM -->
                                        <div class="col-lg-12">

                                            <div class="card">
                                                <div class="card-head bg-blue text-white">
                                                    <div class="card-head style-primary">
                                                        <header class="card-head bg-blue text-white">Add Order</header>
                                                    </div>
                                                    <div class="tools">
                                                        <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                                        <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                                    </div>

                                                </div>
                                                <div class="card-body">

                                                    <form class="form" role="form" action="" method="post"> {% csrf_token %}

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <style>
                                                                    header.csinfo {
                                                                        font-weight: 900;
                                                                    }
                                                                </style>
                                                                <header class="csinfo"><strong>Customer Info</strong></header>

                                                                <hr>


                                                                <div class="form-group floating-label">
                                                                    <label for="regular2">Your Name</label> {{ form.name | add_class:'form-control' }}

                                                                </div>
                                                                <div class="form-group floating-label">
                                                                    <label for="regular2">Phone Number</label> {{ form.phone | add_class:'form-control' }}

                                                                </div>
                                                                <div class="form-group floating-label">
                                                                    <label for="regular2">Email</label> {{ form.email | add_class:'form-control' }}

                                                                </div>
                                                                <div class="form-group floating-label">
                                                                    <label for="textarea2">Address</label> {{ form.address | add_class:'form-control' | attr:'rows:2'}}

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <header class="csinfo"><strong>Order Info</strong></header>

                                                                <hr>

                                                                <div class="form-group">
                                                                    <label for="regular2">Your preferable date for pickup: </label> {{ form.delivery_date | add_class:'form-control' | attr:'type:date'}}

                                                                </div>
                                                                <div class="form-group floating-label">
                                                                    <label for="textarea2">Type of wash</label> {{ form.product_id | add_class:'form-control select2-list' | attr:'id:product_id'}}

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group floating-label">
                                                                            <label for="select2">Payment Options</label> {{ form.payment_option| add_class:'form-control' }}

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group floating-label">
                                                                            <label for="regular2">Quantity</label>
                                                                            <br>

                                                                            <br> {{ form.quantity | add_class:'form-control'}}

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-10">

                                                                <hr>

                                                                <label class="radio-inline radio-styled col-md-2">
                                                        <b class="row">Order Status :</b>
                                                      </label>
                                                                <div class="col-md-10">
                                                                    <div class="row-border">
                                                                        {% for radio in form.order_status %}
                                                                        <div class="col-md-6">
                                                                            <label class="radio-inline radio-styled">
                                                                                              {{ radio }}
                                                                                          </label>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <hr>
                                                                <div class="card-actionbar-row">

                                                                    <input type="submit" class="btn btn-flat btn-primary ink-reaction" value="SUBMIT">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!--end .card-body -->
                                            </div>
                                            <!--end .card -->
                                        </div>
                                        <!--end .col -->
                                        <!-- END FORM - TIME ON SITE -->

                                    </div>
                                    <!--end .row -->
                                </div>
                                <!--end .section-body -->
                            </section>
                        </div>





                    </div>
                </div>
            </div>
        </div>



        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About US</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
                    </div>

                    <div class="col-md-3 ml-auto">
                        <h3>Links</h3>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Process</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3>Subscribe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto? Numquam, natus?</p>
                        <form action="#">
                            <div class="d-flex mb-5">
                                <input type="text" class="form-control rounded-0" placeholder="Email">
                                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                            </div>
                        </form>
                    </div>

                </div>

                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved. Laundry City</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>



    </div>
    <!-- .site-wrap -->

    <script src="{% static 'assets4/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets4/js/popper.min.js' %}"></script>
    <script src="{% static 'assets4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets4/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets4/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'assets4/js/aos.js' %}"></script>
    <script src="{% static 'assets4/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets4/js/jquery.sticky.js' %}"></script>


    <script src="{% static 'assets4/js/main.js' %}"></script>

</body>

</html>