{% extends 'base.html' %} {% load staticfiles %} {% block title %} Print Order {% endblock %} {% block body %} {% for order in order %}
<script type="text/javascript">
    function PrintDiv(id) {
        var data = document.getElementById(id).innerHTML;
        var myWindow = window.open('', 'my div', 'height=400,width=600');
        myWindow.document.write('<html><head><title>my div</title>');
        /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        myWindow.document.write('</head><body >');
        myWindow.document.write(data);
        myWindow.document.write('</body></html>');
        myWindow.document.close(); // necessary for IE >= 10

        myWindow.onload = function() { // necessary if the div contain images

            myWindow.focus(); // necessary for IE >= 10
            myWindow.print();
            myWindow.close();
        };
    }
</script>

<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active">Invoice</li>

        </ol>


    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-printable style-default-light">

                    <!--end .card-head -->
                    <div class="card-body style-default-bright" id="print">

                        <!-- BEGIN INVOICE HEADER -->
                        <div id="print-content">

                            <div class="row">
                                <!--<div class="col-xs-2">
												<img src="{% static 'img/django_logo.png' %}" class="invoice_logo" width="100%">
											</div>-->
                                <div class="col-xs-8">
                                    <h1 style="margin-top">Laundry <strong>City</strong></h1>
                                    <p>Hunsamaranhalli,<br>Bangalore</p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <h1 class="text-light text-default-light">Invoice</h1>
                                </div>
                            </div>
                            <!--end .row -->
                            <!-- END INVOICE HEADER -->

                            <br/>

                            <!-- BEGIN INVOICE DESCRIPTION -->
                            <div class="row">
                                <div class="col-xs-8">
                                    <h4 class="text-light">Prepared for</h4>
                                    <address>
													<strong>{{ order.name }}</strong><br>
													{{ order.address }}<br>
													<b>Phone:</b> {{ order.phone }}
												</address>
                                </div>
                                <!--end .col -->
                                <div class="col-xs-4" ,align="right">
                                    <div class="well well-lg">
                                        <div class="clearfix">
                                            <div class="pull-left"> INVOICE NO : </div>
                                            <div class="pull-right"> {{ order.id }} </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="pull-left"> INVOICE DATE : </div>
                                            <div class="pull-right">{% now "jS F Y " %} </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="pull-left"> DELIVERY DATE : </div>
                                            <div class="pull-right"> {{ order.delivery_date }} </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end .col -->
                            </div>
                            <!--end .row -->
                            <!-- END INVOICE DESCRIPTION -->

                            <br/>

                            <!-- BEGIN INVOICE PRODUCTS -->
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width:60px" class="text-center">QTY</th>
                                                <th class="text-left">DESCRIPTION</th>
                                                <th style="width:90px" class="text-right">RATE</th>
                                                <th style="width:90px" class="text-right">AMOUNT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">{{ order.quantity }}</td>
                                                <td> <b>{{ order.product_id.id}}. {{ order.product_id.product_name }}</b> <br><small>{{ order.product_id.product_details}}</small></td>
                                                <td class="text-right">₹ {{ order.product_id.price }}</td>
                                                <td class="text-right">₹ {% widthratio order.product_id.price 1 order.quantity %}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" rowspan="4">
                                                    <h3 class="text-light opacity-50">Invoice notes</h3>
                                                    <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small></p><br><br>
                                                    <p><strong><em>Recevied By __________________</em></strong></p>
                                                </td>
                                                <td class="text-right"><strong>Subtotal</strong></td>
                                                <td class="text-right">₹ {% widthratio order.product_id.price 1 order.quantity %}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right hidden-border"><strong>VAT</strong></td>
                                                <td class="text-right hidden-border">₹ 0.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong class="text-lg text-accent">Total</strong></td>
                                                <td class="text-right"><strong class="text-lg text-accent">₹ {% widthratio order.product_id.price 1 order.quantity  %}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end .col -->
                            </div>
                            <!--end .row -->
                            <!-- END INVOICE PRODUCTS -->

                        </div>
                        <!--end .card-body -->
                    </div>

                </div>
                <!--end .card -->
                <div class="card-head" style="position: absolute; right: 0;">
                    <div class="tools">
                        <div class="btn mb-auto btn-rounded btn-success">
                            <a class="btn btn-group" href="javascript:void(0);" onclick="javascript:window.print();">
                                <font color="black">PRINT</font><i class="md md-print"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <!--end .col -->


        </div>

        <!--end .row -->


    </div>


    <!--end .section-body -->
</section>
{% endfor %} {% endblock %}