/*
    Flaticon icon font: Flaticon
    Creation date: 14/05/2018 00:51
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.d8faf1ed8b4d.eot");
  src: url("./Flaticon.d8faf1ed8b4d.eot?#iefix") format("embedded-opentype"), url("./Flaticon.425ff5e8bc15.woff") format("woff"), url("./Flaticon.e98ef86392e2.ttf") format("truetype"), url("./Flaticon.5e2917b7f6f3.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.5e2917b7f6f3.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-chicken:before {
  content: "\f100"; }

.flaticon-pancake:before {
  content: "\f101"; }

.flaticon-salad:before {
  content: "\f102"; }

.flaticon-soup:before {
  content: "\f103"; }

.flaticon-vegetables:before {
  content: "\f104"; }

.flaticon-tray:before {
  content: "\f105"; }
